body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

img {
  width: 200px;
  margin: 10px;
}
footer {
  text-align: center;
  padding: 1rem;
  background-color: #eee;
}
